nav ul ul {
  margin-left: 1rem;
}

th, td, th:not(:first-child), td:not(:first-child) {
  padding: 0.4rem 0.7rem;
}

th svg {
  margin: 0 !important;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}
